body {
 background-image: url("https://images.pexels.com/photos/265076/pexels-photo-265076.jpeg?cs=srgb&dl=abc-alphabet-ausbildung-265076.jpg&fm=jpg");
 background-size: 100%;
 background-color: #cccccc;
}
